{% extends "base.html" %}
{% block content %}

    <h2>{{ page_title }}</h2>
    <p>
        Football,  the greatest game. A sport that has produced the most impressive athletes
        admired world-wide. Football is the home of the best sports fans in the world. As 
        the beautiful game has evolved over the years there has been some players who have really
        stood out.
        Let's have a look at who they are...
    </p>

    {% for footballers in company %}

        <div class="row featurette mt-5">
            <div class="col-md-7">
                <h3>{{ company.name }}</h3>
                <p>
                    {{ company.description }}
                </p>
            </div>

            <div class="col-md-5">
                <img src="{{ company.image_source }}" alt="Pele" class="featurette-image image-responsive">
            </div>
        </div>

        {% if loop.index != 8 %}

            <hr class="featurette-divider">

        {% endif %}

    {% endfor %}

{% endblock %}